<div class="row">
    <div class="card card-body shadow raduis-xm">
        <div class="row px-4 my-2">
            <div class="col-12">
                <section id="contact" class="contact">
                    <div class="container">

                        <div class="section-title">
                            <h1>Service client</h1>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h3 class="text-green">Les coordonnées pour contacter tranchePay</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">
                            <div class="col d-flex align-items-center">
                                <div>
                                    <mat-icon class="mat-30 text-green me-5">email</mat-icon>
                                </div>
                                <div>
                                    <span>Adresse Email</span>

                                </div>
                            </div>
                            <div class="col">
                                <button class="btn-2 shadow" style="border:
                                    none;">ENVOYER UN E-MAIL</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row align-items-center">
                            <div class="col d-flex align-items-center">
                                <div>
                                    <mat-icon class="mat-30 text-green me-5">phone_in_talk</mat-icon>
                                </div>
                                <div>
                                    <span>Nous joindre par téléphone</span>
                                </div>
                            </div>
                            <div class="col">
                                +221 123 45 67
                            </div>
                        </div>
                        <hr>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>