<div class="card raduis-sm shadow-sm my-3 p-4">
  <h4 class="text-dark-green bold text-uppercase">Service client</h4>
  <p>
    Notre service client est là pour vous aider et vous accompagner à chaque étape de votre expérience chez nous. Nous mettons tout en œuvre pour répondre à vos questions et à vos besoins rapidement et efficacement. Nous sommes à votre écoute pour vous aider à trouver des solutions personnalisées et vous offrir un service de qualité irréprochable. Notre équipe est spécialement formée pour satisfaire vos attentes et vous fournir un service client exceptionnel. Nous sommes à votre disposition pour répondre à toutes vos questions et vous offrir un accompagnement personnalisé. Alors n'hésitez pas à nous contacter pour toute question ou demande !
  </p>
  <br /><br />
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <div class="d-flex align-items-baseline">
        <div>
          <i class="fa-md mx-2 text-dark-green fas fa-at"></i>
        </div>
        <div>
          <h4 class="text-dark-green">Par e-mail</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-primary my-2 shadow-sm" nz-button>
        <a href="mailto:support.tranchepay@gmail.com">Envoyer un e-mail</a>
      </button>
    </div>
  </div>
  <hr />
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <div class="d-flex align-items-baseline">
        <div>
          <i class="fa-md fas fa-phone-square-alt mx-2 text-dark-green"></i>
        </div>
        <div>
          <h4 class="text-dark-green">Par téléphone</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <a href="tel:+221781879981" class="text-dark-green">+221 78 187 99 81</a>
    </div>
  </div>
  <hr />
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <div class="d-flex align-items-baseline">
        <div>
          <i class="fa-md mx-2 text-dark-green fas fa-paper-plane"></i>
        </div>
        <div>
          <h4 class="text-dark-green">Par courrier</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <span class="text-center text-dark-green">
        Sénégal, Abdou Karim Bourgi 17500
      </span>
    </div>
  </div>
</div>
