<div class="container">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label class=""total nzRequired>MONTANT À VERSER</nz-form-label>
            <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="amountErrorTpl">
                <input class="tatol form-control shadow-sm" nzSize="large" nz-input type="number" min="0" formControlName="amount" placeholder="Montant à verser" />
                <ng-template #amountErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('max')">Le solde de votre compte ne vous permet pas de faire cet retrait.
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <div class="row mt-4">
            <div class="col-md-4 " *ngFor="let item of mobilePayements"
              (click)="handleOk(item.name)">
              <div class="card body shadow-sm raduis-sm pointer card-pay">
                <img [src]="item.image_src" [alt]="item.choice_label" [title]="item.choice_label" class="card-img-top " />
              </div>
            </div>
          </div>
    </form>
</div>