<div class="container">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="24" [nzXs]="24">Prénoms</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
                <input nz-input id="prenoms" formControlName="prenoms" type="text" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="24" [nzXs]="24">Nom</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
                <input nz-input id="nom" formControlName="nom" type="text" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="24" [nzXs]="24">Numéro téléphone</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
                <input nz-input id="telephone" formControlName="telephone" type="number" minlength="9" maxlength="9" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired [nzSm]="24" [nzXs]="24">Adresse</nz-form-label>
            <nz-form-control [nzSm]="24" [nzXs]="24">
                <input nz-input id="adresse" formControlName="adresse" minlength="3" type="text" />
            </nz-form-control>
        </nz-form-item>
    </form>
</div>

<div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal(null)">Annuler</button>
    <button nz-button nzType="primary" (click)="save()" [disabled]="!validateForm.valid" [nzLoading]="isLoad">Ajouter</button>
</div>