<div class="card card-body raduis-sm shadow">
  <h4 class="my-3 text-dark-green bold text-uppercase">Mes versements</h4>
  <br />
  <nz-table #basicTable [nzData]="versements" [nzLoading]="isLoad">
    <thead>
      <tr>
        <th class="text-dark-green">N° COMMANDE</th>
        <th class="text-dark-green">BOUTIQUE</th>
        <th class="text-dark-green">MÉTHODE DE PAIEMENT</th>
        <th class="text-dark-green">MONTANT</th>
        <th class="text-dark-green">DATE DE VERSEMENT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td class="text-dark-green">
          <a class="text-dark-green" routerLink="/client/commandes/show/{{ data.commande.id }}">
            {{ data.commande.reference }}
          </a>
        </td>
        <td class="text-dark-green">{{ data.commande.boutique.nom }}</td>
        <td class="bold text-dark-green">{{ data.via }}</td>
        <td class="text-dark-green">{{ data.montant }} FCFA</td>
        <td class="text-dark-green">{{ data.date_time | date: "d MMMM y" }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
