<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-body border raduis-sm">

                <img src="assets/img/logo.png" alt="..." class="logo"><br>
                <p>Prenom nom:{{admin?.full_name}}</p>
                <p>Email :{{admin?.email}}</p>
                <button nz-button nzType="dashed" (click)="showDeleteConfirm()">Delete</button>

            </div>
        </div>
        <div class="col">
            <div class="card card-body border raduis-sm">

                <h3 [ngStyle]="{ margin: '16px 0' }">Liste Des Permissions <i nz-icon nzType="plus" nzTheme="outline" style="color: rgb(103, 241, 11);" (click)="showModal()"></i></h3>

                <ul nz-list [nzDataSource]="Permissions" nzBordered nzSize="large">

                    <li nz-list-item *ngFor="let item of Permissions" nzNoFlex>
                        <ul nz-list-item-actions>

                        </ul>
                        {{ item?.name }}&nbsp;
                        <a> <i nz-icon nzType="delete" (click)="showDeleteConfirm()" nzTheme="outline" style="color: rgb(241, 11, 11);" *ngIf="AuthSrv.can('supprimer utilisateur')"></i></a>

                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<nz-modal [nzVisible]="visibleModal" nzTitle="Ajouter une permission" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Permission</nz-form-label>


        <nz-select nzMode="multiple" class="form-control w-100" [(ngModel)]="listOfSelectedValue">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.name" [nzValue]="option.name">
            </nz-option>
        </nz-select>

    </ng-container>
</nz-modal>
