<div class="container ">
    <div class="row h-100">
        <div class="col-md-4 col-xs-12">
            <img nz-image width="200px" nzSrc="https://img.alicdn.com/tfs/TB1g.mWZAL0gK0jSZFtXXXQCXXa-200-200.svg" alt="" />
        </div>
        <div class="col">
            <div class="card card-body raduis-sm shadow border">
                <div class="d-flex align-items-baseline">
                    <div class="mx-2">
                        <i class="icon-md fas fa-user text-green"></i>
                    </div>
                    <div>
                        <h4 class="text-dark-green ">{{ client.prenoms }} {{ client.nom }}</h4>
                    </div>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="mx-2">
                        <i class="icon-md fas fa-phone-alt text-green"></i>
                    </div>
                    <div>
                        <h4 class="text-dark-green">{{ client.telephone}}</h4>
                    </div>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="mx-2">
                        <i class="icon-md fas fa-map-marker-alt text-green"></i>
                    </div>
                    <div>
                        <h4 class="text-dark-green">{{ client.adresse! }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center my-3">
        <button (click)="logout()" nz-button class="btn submit-btn border my-2 shadow">SE DÉCONNECTER</button>
    </div>
</div>