<div class="card card-body raduis-sm shadow">
  <h3 class="my-3 text-dark-green bold">Mes commandes</h3>
  <br />
  <nz-table
    #basicTable
    [nzData]="commandes"
    [nzLoading]="isLoad"
    nzShowPagination
    nzShowSizeChanger
    [nzPageSize]="5"
  >
    <thead>
      <tr>
        <th class="bold text-dark-green">REFERENCE</th>
        <th class="bold text-dark-green">PRIX TOTAL</th>
        <th class="bold text-dark-green">MONTANT RESTANT</th>
        <th class="bold text-dark-green">COMMISSION</th>
        <th class="bold text-dark-green">BOUTIQUE</th>
        <th class="bold text-dark-green">ETAT</th>
        <th class="bold text-dark-green">DATE LIMITE</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="pointer"
        (click)="show(data)"
        *ngFor="let data of basicTable.data"
      >
        <td class="text-dark-green">{{ data.reference }}</td>
        <td class="text-dark-green">{{ data.prix_total }} FCFA</td>
        <td class="text-dark-green">{{ montantRestant(data) }} FCFA</td>
        <td class="text-dark-green">{{ data.commission }} FCFA</td>
        <td class="text-dark-green">{{ data.boutique.nom }}</td>
        <td class="text-dark-green">
          <nz-tag [nzColor]="etatColor(data)">
            {{ etatCommande(data) }}
          </nz-tag>
        </td>
        <td class="text-dark-green">
          {{ data.date_limite | date: "d MMMM y" }}
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
