<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
            <img src="/assets/img/logo.png" width="100" height="100" class="d-block my-1" viewBox="0 0 118 94" role="img">
        </a>

        <nav id="navbar" [class]="menuState.navbar">
            <ul>
                <li><a class="nav-link scrollto {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/docs']">DOCUMENTATION</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/home/page-commercant']">COMMERCANT</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/home/page-client']">PARTICULIER</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/home/page-contact']">CONTACTEZ-NOUS</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-dark-green' : 'text-white' }}" [routerLink]="['/auth/login']">CONNEXION</a></li>
                <li><a class="nav-link scrollto {{ menuState.btnInscription }} active" [routerLink]="['/auth/register']">CRÉER UN COMPTE</a></li>
            </ul>
            <i (click)="menuClicked()" [class]="menuState.icon"></i>
        </nav>
    </div>
</header>

<main class="bg">
    <div class="container">
        <div class="row">

            <div class="card card-body shadow my-5 raduis-xm">
                <div class="row px-4 my-2">
                    <div class="col">
                        <section id="contact" class="contact">
                            <div class="container">
                                <div class="section-title">
                                    <p>Créer un compte commercant</p>
                                </div>
                                <div class="alert alert-danger" *ngIf="hasError">
                                    <ul>
                                        <li *ngIf="errors?.telephone">{{ errors.telephone[0] }}</li>
                                        <li *ngIf="errors?.email">{{ errors.email[0] }}</li>
                                        <li *ngIf="errors?.boutique">{{ errors.boutique[0] }}</li>
                                    </ul>
                                </div>

                                <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" (ngSubmit)="submitForm()">
                                    <div class="row my-4">
                                        <div class="col-md-6 col-sm-12
                                            form-group">
                                            <nz-form-item>
                                              <label for="prenoms">Prénoms *</label>
                                              <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="prenoms">
                                                  <input type="text" class="form-control
                                                shadow-sm" formControlName="prenoms" id="prenoms" required name="prenoms">
                                                <ng-template #prenoms let-control>
                                                  <ng-container *ngIf="control.hasError('required')">
                                                    Champ obligatoire
                                                  </ng-container>
                                                </ng-template>
                                              </nz-form-control>
                                            </nz-form-item>
                                        </div>
                                        <div class="col-md-6 col-sm-12
                                            form-group">
                                          <nz-form-item>
                                            <label for="nom">Nom *</label>
                                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nom">
                                              <input type="text" formControlName="nom" required aria-label="nom" aria-describedby="nom" class="form-control shadow-sm" id="nom" name="nom">
                                              <ng-template #nom let-control>
                                                <ng-container *ngIf="control.hasError('required')">
                                                  Champ obligatoire
                                                </ng-container>
                                              </ng-template>
                                            </nz-form-control>
                                          </nz-form-item>
                                        </div>
                                    </div>
                                    <div class="row my-4">
                                        <div class="col-md-6 col-sm-12
                                            form-group">
                                          <nz-form-item>
                                            <label for="boutique">Nom de votre
                                                boutique *</label>
                                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="boutique">
                                              <input type="text" class="form-control
                                                shadow-sm" formControlName="boutique" id="boutique" required name="boutique">
                                              <ng-template #boutique let-control>
                                                <ng-container *ngIf="control.hasError('required')">
                                                  Champ obligatoire
                                                </ng-container>
                                              </ng-template>
                                            </nz-form-control>
                                          </nz-form-item>
                                        </div>
                                        <div class="col-md-6 col-sm-12
                                            form-group">
                                          <nz-form-item>
                                            <label for="adresse">Adresse de
                                                votre boutique *</label>
                                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="adresse">
                                              <input type="text" formControlName="adresse" required aria-label="nom" aria-describedby="adresse" class="form-control shadow-sm" id="adresse" name="adresse">
                                              <ng-template #adresse let-control>
                                                <ng-container *ngIf="control.hasError('required')">
                                                  Champ obligatoire
                                                </ng-container>
                                              </ng-template>
                                            </nz-form-control>
                                          </nz-form-item>
                                        </div>
                                    </div>
                                    <div class="row my-4">
                                        <div class="col-md-6 col-sm-12 form-group">
                                          <nz-form-item>
                                            <label for="telephone">Adresse E-mail *</label>
                                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="email">
                                              <input type="email" required aria-label="email" formControlName="email" ria-describedby="email" class="form-control
                                                  shadow-sm" id="email" name="email">
                                              <ng-template #email let-control>
                                                <ng-container *ngIf="control.hasError('required')">
                                                  Champ obligatoire
                                                </ng-container>
                                              </ng-template>
                                            </nz-form-control>
                                          </nz-form-item>
                                          <!-- <label for="telephone">Adresse E-mail *</label>
                                          <div class="input-group">
                                              <span class="input-group-text" id="email-span">
                                                  <img
                                                      src="/assets/img/user.png"
                                                      width="25px" alt="+221">
                                              </span>
                                              <input type="email" required aria-label="email" formControlName="email" ria-describedby="email" class="form-control
                                                  shadow-sm" id="email" name="email">
                                          </div> -->
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-group">
                                          <nz-form-item>
                                            <label for="telephone">Téléphone *</label>
                                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="telephone">
                                              <nz-input-group nzAddOnBefore="+221">
                                                <input type="text" required aria-label="phone" formControlName="telephone" ria-describedby="phone" class="form-control
                                                  shadow-sm" id="telephone" name="telephone">
                                              </nz-input-group>
                                              <ng-template #telephone let-control>
                                                <ng-container *ngIf="control.hasError('pattern')">
                                                  Format incorrecte
                                                </ng-container>
                                              </ng-template>
                                            </nz-form-control>
                                          </nz-form-item>
                                          <!-- <label for="telephone">Téléphone *</label>
                                          <div class="input-group">
                                              <span class="input-group-text" id="indicateur">
                                                  <img
                                                      src="/assets/img/senegal.png"
                                                      width="25px" alt="+221">
                                              </span>
                                              <input type="text" required aria-label="phone" formControlName="telephone" ria-describedby="phone" class="form-control
                                                  shadow-sm" id="telephone" name="telephone">
                                          </div> -->
                                        </div>
                                    </div>
                                    <div class="row my-4">
                                        <div class="col-md-6 col-sm-12 form-group">
                                          <nz-form-item>
                                            <label for="pin">Mot de passe *</label>
                                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="pin">
                                              <input type="password" class="form-control
                                                shadow-sm" formControlName="pin" minlength="4" maxlength="12" required id="pin" name="pin">
                                              <ng-template #pin let-control>
                                                <ng-container *ngIf="control.hasError('required')">
                                                  Champ obligatoire
                                                </ng-container>
                                              </ng-template>
                                            </nz-form-control>
                                          </nz-form-item>
                                        </div>
                                        <div class="col-md-6 col-sm-12 form-group">
                                          <nz-form-item>
                                            <label for="pin_conf">Confirmer le mot de passe
                                                *</label>
                                            <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="pin_conf">
                                              <input formControlName="pin_conf" minlength="4" maxlength="12" type="password" required aria-label="pin_conf" aria-describedby="pin_conf" class="form-control shadow-sm" id="pin_conf" name="pin_conf">
                                              <ng-template #pin_conf let-control>
                                                <ng-container *ngIf="control.hasError('required')">
                                                  Champ obligatoire
                                                </ng-container>
                                              </ng-template>
                                            </nz-form-control>
                                          </nz-form-item>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <button nz-button (click)="save()" [disabled]="!validateForm.valid" [nzLoading]="isLoad" class="btn submit-btn shadow btn-block" type="submit">VALIDER</button>
                                        </div>
                                        <div>
                                            <u><a [routerLink]="['/auth/login']"
                                                    class="text-dark-green">J'ai
                                                    déjà un compte</a></u>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="col-4 align-self-center d-none d-sm-block d-sm-none  d-md-block d-md-none d-lg-block">
                        <img src="/assets/img/com_register.svg" alt="CREER UN NOUVEAU COMPTE IMAGE" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bg-gray">

    <div class="container py-4">
        <div class="row">
            <div class="col text-start">
                <a routerLink="/">
                    <img src="/assets/img/logo.png" alt="LOGO" width="100"></a>
            </div>
        </div>
        <div class="d-flex flex-sm-column flex-column flex-lg-row flex-md-row  justify-content-between">
            <div class="col-lg-3 col-xl-3 col-md-3 order-0 my-sm-2">
                <div class="text-muted">
                    <div class="my-2 text-dark-green">Adresse : 94 rue Abdou Karim Bourgi,</div>
                    <div class="my-3 text-dark-green">Immeuble Ibrahima Fall - Dakar Plateau</div>
                    <div class="my-2 text-dark-green">Mail : contact@tranchepay.com</div>
                    <div class="my-3 text-dark-green">Tél : +221 77 501 75 55</div>
                </div>
                <br>
                <div>
                    <div class="row">
                        <a href="#" class="mx-1 circle-icon">
                          <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#" class="mx-1 circle-icon">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#" class="mx-1 circle-icon">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <a href="#" class="mx-1 circle-icon">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mx-md-3 col-xl-4 col-md-4  order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 my-sm-2">
                <h5 class="text-dark-green text-center">
                    Retrouvez nous sur les plateformes
                </h5> <br>
                <div class="d-flex align-items-center justify-content-center">
                    <div>
                        <a href="#">
                            <img class="store_btn" src="assets/img/play_store.png" alt="PLAY STORE">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="store_btn" src="assets/img/app_store.png" alt="PLAY STORE">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 my-sm-2">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <ul class="list-service">
                            <h6 class="text-dark-green bold">Services</h6>
                            <li class="my-2 text-dark-green">Paiement plusieurs fois</li>
                            <li class="my-2 text-dark-green">Tranche Pay en ligne</li>
                            <li class="my-2 text-dark-green">Tranche Pay en Boutique</li>
                            <li class="my-2 text-dark-green">Paiement par mobile et CB</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="list-service">
                            <h6 class="text-dark-green bold">Ressources</h6>
                            <li class="my-2 text-dark-green">Documentation</li>
                            <li class="my-2 text-dark-green">FAQs</li>
                            <li class="my-2 text-dark-green">Mentions légales</li>
                            <li class="my-2 text-dark-green">Politique de confidentialité</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="green-color px-5 py-3">
        <h6 class="text-white">&copy; {{currentYear}} tous droits réservés, <a href="/">TRANCHPAY</a></h6>
    </div>
</footer>
