<section id="hero">
    <header id="header" class="d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <a class="navbar-brand p-0 me-2" [routerLink]="['/']" aria-label="Bootstrap">
                <img src="/assets/img/logo2.png" width="100" height="100" class="d-block my-1" viewBox="0 0 118 94" role="img">
            </a>

            <nav id="navbar" [class]="menuState.navbar">
                <ul>
                    <li><a class="nav-link " [routerLink]="['/docs']">DOCUMENTATION</a></li>
                    <li><a class="nav-link " [routerLink]="['page-commercant']">COMMERCANTS</a></li>
                    <li><a class="nav-link " [routerLink]="['page-client']">PARTICULIERS</a></li>
                    <li><a class="nav-link me-5 " [routerLink]="['page-contact']">CONTACTEZ-NOUS</a></li>
                    <li><a class="nav-link  {{ menuState.btnConnexion }}" [routerLink]="['/auth/login']">CONNEXION</a></li>
                    <li><a class="nav-link  btn btn-sm btn-new-account mx-3 px-2 py-1 text-dark-green" [routerLink]="['/auth/register']">CRÉER UN COMPTE</a></li>
                </ul>
                <i (click)="menuClicked()" [class]="menuState.icon"></i>
            </nav>
        </div>
    </header>

    <div class="container">
        <div class="row justify-content-between center">
            <div class="col-md-6 order-1 d-none d-xs-none d-sm-none d-lg-block d-md-block order-sm-1 order-lg-0 order-md-0 col-lg-6 col-sm-12 col-xs-12">
                <img src="/assets/img/femme_acc.png" class="hero-img" width="80%" style="z-index:100;">
            </div>
            <div class="col-md-6 order-0 order-sm-0 order-md-1 order-lg-1 col-lg-6 col-sm-12 col-xs-12">
                <div class="aos-init aos-animate">
                    <h1 class="home-title hero-title">Offrez à vos clients la facilité de paiement.</h1>
                    <h2 class="text-white hero-title">Vos clients payent en plusieurs fois et vous êtes payé tout de suite.</h2>
                    <button class="btn-1 p-0 btn center-sm">
                        <a [routerLink]="['/docs']">EN SAVOIR PLUS</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between" style="position: relative;">
            <div class="col-sm-6 col-xs-6 mx-0 px-0 align-self-xs-baseline d-lg-none d-md-none d-xs-block d-sm-block">
                <img src="/assets/img/femme_acc.png" id="hero-img-card" class="hero-img-card" width="80%" style="z-index:8;">
            </div>
            <div class="col-md-12 col-lg-12 col-sm-6 col-xs-6 d-sm-flex d-xs-flex d-lg-flex d-md-flex flex-sm-column flex-xs-column flex-lg-row flex-md-row justify-content-sm-end justify-content-md-center justify-content-lg-center" id="zindex">
                <div class="col-md-3 col-lg-3 col-xs-6 p-xs-1 p-sm-1 p-md-3 p-lg-3 p-xs-1 shadow home-card bg-rgba text-white
                    img-fluid animated">
                    <h1>+20%</h1><span><b>Chiffre d'affaires</b>: Vendez mieux. Vendez plus.</span>
                </div>
                <div class="col-md-1 col-lg-1 my-sm-1"></div>
                <div class="col-md-3 col-lg-3 p-sm-1 p-md-3 p-lg-3 p-xs-1 bg-rgba shadow home-card text-white
                    img-fluid animated">
                    <h1>100%</h1><span><b>Dématérialisé</b>: zéro papier à imprimer</span>
                </div>
                <div class="col-md-1 col-lg-1 my-sm-1"></div>
                <div class="col-md-3 col-lg-3 p-sm-1 p-md-3 p-lg-3 p-xs-1 bg-rgba shadow home-card text-white
                img-fluid animated">
                    <h1>40%</h1><span><b>D’augmentation</b> de la valeur moyenne des commandes</span>
                </div>
            </div>
        </div>
    </div>
</section>
<main id="main">
    <section id="features" class="features bg-features pb-0 pt-5">
        <div class="container mt-4">
            <h3 class="fw-md text-dark-green">
                Quels sont les avantages avec Tranche Pay?
            </h3>
            <div class="row my-md-5 justify-content-lg-center justify-content-md-center justify-content-xs-between justify-content-sm-between">
                <div class="col-md-5" data-aos="fade-up">
                    <div class="row justify-content-center bg-white my-sm-2 h-100 g-0 align-items-center shadow border raduis-sm flex-md-row mb-4 h-md-150 position-relative">
                        <div class="col-4 text-center">
                            <img class="home-img-card" src="/assets/img/securise.png">
                        </div>
                        <div class="col d-flex flex-column p-2 position-static">
                            <h3 class="mb-0 text-dark-green fw-md">Paiement Garanti</h3>
                            <p class="mb-auto card-title  my-2 text-dark-green">Aucun risque pour vous marchand, vous êtes payés tout de suite et en totalité. Tranche Pay s’occupe du reste.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 my-sm-2"></div>
                <div class="col-md-5" data-aos="fade-up">
                    <div class="row justify-content-center bg-white my-sm-2 h-100 g-0 align-items-center shadow border raduis-sm flex-md-row mb-4 h-md-150 position-relative">
                        <div class="col-4 text-center">
                            <img class="home-img-card" src="/assets/img/horloge.png">
                        </div>
                        <div class="col d-flex flex-column p-2 position-static">
                            <h3 class="mb-0 text-dark-green fw-md">Rapide</h3>
                            <p class="mb-auto card-title pe-2 my-2 text-dark-green">Grâce à la simplicité de Tranche Pay, le paiement est validé en moins d’une minute. Rapide et fiable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br>
            <div class="row justify-content-center">
                <div class="col-md-5" data-aos="fade-up">
                    <div class="row justify-content-center bg-white my-sm-2 h-100 g-0 align-items-center shadow border raduis-sm flex-md-row mb-4 h-md-150 position-relative">
                        <div class="col-4  text-center">
                            <img class="home-img-card " src="/assets/img/happy.png">
                        </div>
                        <div class="col  d-flex flex-column p-2 position-static">
                            <h3 class="mb-0 text-dark-green fw-md">Nouveaux Client</h3>
                            <p class="mb-auto card-title pe-2 my-2 text-dark-green">Tranche Pay amène des milliers d'acheteurs aux marchands via les promotions sur l’application.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 my-sm-2"></div>
                <div class="col-md-5" data-aos="fade-up">
                    <div class="row justify-content-center bg-white my-sm-2 h-100 g-0 align-items-center shadow border raduis-sm flex-md-row mb-4 h-md-150 position-relative">
                        <div class="col-4  text-center">
                            <img class="home-img-card" src="/assets/img/web.png">
                        </div>
                        <div class="col p-2 d-flex flex-column position-static">
                            <h3 class="mb-0 text-dark-green fw-md">Un support dédié</h3>
                            <p class="mb-auto card-title my-2 pe-2 text-dark-green">L’équipe Tranche Pay est là pour échanger en cas d’imprévu pour vous et vos clients.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="row mx-2 my-5">
                <div class="col-xl-6 col-lg-6 col-md-6 col-xs-4 col-sm-4  video-box d-flex
                    justify-content-center align-items-stretch" data-aos="fade-right">
                    <img src="/assets/img/client-exp.svg" alt="EXPERIENCE CLIENT" class="detail-img">
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-xs-8 col-sm-8 icon-boxes d-flex flex-column
                    align-items-stretch justify-content-center py-5" data-aos="fade-left">
                    <h3 class="text-tranche text-dark-green text-start fw-md">Une expérience d’achat plus flexible avec le paiement fractionné.</h3>
                    <p class="text-start text-dark-green">Vos clients ont maintenant le choix : paiement comptant, paiement en 2, 3, 5 ou N fois.</p>

                    <div class="col-md-5 my-3 col-sm-12 col-xs-12">
                        <button class="btn p-0 btn-2 my-2">
                            <a [routerLink]="['/docs']" class="p-2" >
                                En savoir plus
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </section>
    <!-- End Features Section -->


    <section id="about" class="about p-0">
        <div class="container">
            <div class="card card-body my-3 about-bg shadow raduis-sm">
                <div class="text-center icon-boxes align-self-center col-md-10
                    col-sm-12 col-xs-12 text-white
                    justify-content-center py-3">
                    <h3 class="text-tranche text-green text-center fw-md">Faites plus de ventes en ligne</h3>
                    <p class="text-center mx-md-5 my-1">Tranche Pay donne la possibilité à vos clients d’acheter ce qu’ils veulent, quand ils veulent, tout en gardant le contrôle de leurs économies.</p>
                    <button class="btn p-0 btn-1 my-3">
                        <a [routerLink]="['/docs']" >
                            INSTALLER L'API
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Details Section ======= -->
    <section id="home_offer" class="details home-bg-2">
        <div class="container">
            <div class="row content justify-content-center align-items-center">
                <div class="col-md-6 col-sm-12 order-1 order-md-2 text-center" data-aos="fade-left">
                    <img src="/assets/img/Select-amico.svg" class="img-fluid" alt="" width="70%">
                </div>
                <div class="col-md-6 col-sm-12 pt-5 order-2 order-md-1" data-aos="fade-up">
                    <h3 class="text-dark-green fw-md">Choisissez Tranche Pay lors de vos achats et étalez vos paiements
                    </h3>
                    <p class="text-dark-green">
                        Obtenez un aperçu complet de vos commandes et paiements. Effectuez vos versements quand vous voulez et comme vous voulez, en ligne ou dans notre application.
                    </p>
                    <button class="btn p-0 btn-2 my-2">
                        <a [routerLink]="['/docs']" class="p-2" >
                            En savoir plus
                        </a>
                    </button>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 col-sm-12 text-center" data-aos="fade-right">
                    <img src="/assets/img/pay_info.svg" class="img-fluid" alt="" width="70%">
                </div>
                <div class="col-md-6 col-sm-12 pt-3 text-end" data-aos="fade-up">
                    <h3 class="text-end text-dark-green fw-md">Offrez à vos clients la liberté de payer à leur rythme</h3>
                    <p class="text-end text-dark-green ">
                        Tranche Pay vous permet de suivre vos ventes depuis votre compte, d’augmenter votre chiffre d’affaires, booster votre taux de conversion, fidéliser vos clients, acquisition de nouveaux clients. </p>
                    <button class="btn p-0 btn-2 my-2 h5">
                            <a [routerLink]="['/docs']" class="p-2" >
                                En savoir plus
                            </a>
                        </button>
                </div>
            </div>
        </div>
    </section>
    <!-- End Details Section -->
    <div class="grid-container">
        <div class="container-fluid home-footer">
            <div class="row p-3 m-0 justify-content-between align-items-center">
                <div class="col-md-6 col-sm-12">
                    <h3 class="text-white end-title fw-md">Tranche Pay, la meilleure façon de faire des achats. Flexible et rapide.</h3>
                    <button class="btn btn-1">
                        <a [routerLink]="['/auth/login']" >
                            CONNEXION
                        </a>
                    </button>
                </div>
                <div class="col-md-6 d-none d-sm-block d-sm-none d-md-block">
                    <img src="/assets/img/host_img.png" class="host-img" alt="TRANCHEPAY IMAGE">
                </div>
            </div>
        </div>
    </div>
</main>
