<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

        <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
            <img src="/assets/img/logo.png" width="100" height="100" class="d-block my-1" viewBox="0 0 118 94" role="img">
        </a>

        <nav id="navbar" [class]="menuState.navbar">
            <ul>
                <li><a class="nav-link scrollto {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/docs']">DOCUMENTATION</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/home/page-commercant']">COMMERCANTS</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/home/page-client']">PARTICULIERS</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-green' : 'text-white' }}" [routerLink]="['/home/page-contact']">CONTACTEZ-NOUS</a></li>
                <li><a class="nav-link scrollto  {{ isCollapse ? 'text-dark-green' : 'text-white' }}" [routerLink]="['/auth/login']">CONNEXION</a></li>
                <li><a class="nav-link scrollto {{ menuState.btnInscription }} active" [routerLink]="['/auth/register']">CRÉER UN COMPTE</a></li>
            </ul>
            <i (click)="menuClicked()" [class]="menuState.icon"></i>
        </nav>
    </div>
</header>
<main class="bg">
    <div class="container">
        <div class="row">
            <div class="card mx-2 card-body shadow m-5 raduis-xm">
                <div class="row px-4 my-2">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <section id="contact my-1 p-0" class="contact">
                            <div class="section-title title-sm">
                                <p>Créer un compte client</p>
                            </div>

                            <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" (ngSubmit)="submitForm()">
                                <div class="row my-2">
                                    <div class="col form-group">
                                      <nz-form-item>
                                        <label for="prenoms">Prénoms *</label>
                                        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="prenoms">
                                          <input type="text" class="form-control
                                                shadow-sm" id="prenoms" formControlName="prenoms" required name="prenoms">
                                          <ng-template #prenoms let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                              Champ obligatoire
                                            </ng-container>
                                          </ng-template>
                                        </nz-form-control>
                                      </nz-form-item>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col form-group">
                                      <nz-form-item>
                                        <label for="nom">Nom *</label>
                                        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="nom">
                                          <input type="text" required formControlName="nom" aria-label="nom" aria-describedby="nom" class="form-control shadow-sm" id="nom" name="nom">
                                          <ng-template #nom let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                              Champ obligatoire
                                            </ng-container>
                                          </ng-template>
                                        </nz-form-control>
                                      </nz-form-item>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col form-group">
                                        <!-- <label for="telephone">Téléphone *</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="indicateur">
                                                    <img src="/assets/img/senegal.png" width="25px" alt="+221">
                                                </span>
                                            <input type="text" minlength="9" maxlength="9" formControlName="telephone" required aria-label="telephone" aria-describedby="telephone" class="form-control shadow-sm" id="telephone" name="telephone">
                                        </div> -->
                                      <nz-form-item>
                                        <label for="telephone">Téléphone *</label>
                                        <nz-form-control [nzSpan]="24" nzHasFeedback [nzErrorTip]="telephone">
                                          <nz-input-group nzAddOnBefore="+221">
                                            <input type="text" minlength="9" maxlength="9" formControlName="telephone" required aria-label="telephone" aria-describedby="telephone" class="form-control shadow-sm" id="telephone" name="telephone">
                                          </nz-input-group>
                                          <ng-template #telephone let-control>
                                            <ng-container *ngIf="control.hasError('pattern')">
                                              Format incorrecte
                                            </ng-container>
                                          </ng-template>
                                        </nz-form-control>
                                      </nz-form-item>
                                    </div>
                                </div>
                                <div class="row justify-content-between my-3">
                                    <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 col-xl-6">
                                        <button (click)="save()" [disabled]="!validateForm.valid" nz-button [nzLoading]="isLoad" class="btn submit-btn shadow btn-block" type="submit">Creér mon compte</button>
                                    </div>
                                    <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 col-xl-6 my-sm-2">
                                        <u><a [routerLink]="['/auth/login']" class="text-dark-green">J'ai déjà un compte</a></u>
                                    </div>
                                </div>
                            </form>

                        </section>
                    </div>
                    <div class="col align-self-end d-none d-sm-block d-sm-none  d-md-block d-md-none d-lg-block">
                        <img src="/assets/img/client-exp.svg" alt="QUESTION IMAGE" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bg-gray">

    <div class="container py-4">
        <div class="row">
            <div class="col text-start">
                <a routerLink="/">
                    <img src="/assets/img/logo.png" alt="LOGO" width="100"></a>
            </div>
        </div>
        <div class="d-flex flex-sm-column flex-column flex-lg-row flex-md-row  justify-content-between">
            <div class="col-lg-3 col-xl-3 col-md-3 order-0 my-sm-2">
                <div class="text-muted">
                    <div class="my-2 text-dark-green">Adresse : 94 rue Abdou Karim Bourgi,</div>
                    <div class="my-3 text-dark-green">Immeuble Ibrahima Fall - Dakar Plateau</div>
                    <div class="my-2 text-dark-green">Mail : contact@tranchepay.com</div>
                    <div class="my-3 text-dark-green">Tél : +221 77 501 75 55</div>
                </div>
                <br>
                <div>
                    <div class="row">
                        <a href="#" class="mx-1 circle-icon">
                          <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#" class="mx-1 circle-icon">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#" class="mx-1 circle-icon">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <a href="#" class="mx-1 circle-icon">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mx-md-3 col-xl-4 col-md-4  order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1 my-sm-2">
                <h5 class="text-dark-green text-center">
                    Retrouvez nous sur les plateformes
                </h5> <br>
                <div class="d-flex align-items-center justify-content-center">
                    <div>
                        <a href="#">
                            <img class="store_btn" src="assets/img/play_store.png" alt="PLAY STORE">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img class="store_btn" src="assets/img/app_store.png" alt="PLAY STORE">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2 my-sm-2">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <ul class="list-service">
                            <h6 class="text-dark-green bold">Services</h6>
                            <li class="my-2 text-dark-green">Paiement plusieurs fois</li>
                            <li class="my-2 text-dark-green">Tranche Pay en ligne</li>
                            <li class="my-2 text-dark-green">Tranche Pay en Boutique</li>
                            <li class="my-2 text-dark-green">Paiement par mobile et CB</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="list-service">
                            <h6 class="text-dark-green bold">Ressources</h6>
                            <li class="my-2 text-dark-green">Documentation</li>
                            <li class="my-2 text-dark-green">FAQs</li>
                            <li class="my-2 text-dark-green">Mentions légales</li>
                            <li class="my-2 text-dark-green">Politique de confidentialité</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="green-color px-5 py-3">
        <h6 class="text-white">&copy; {{currentYear}} tous droits réservés, <a href="/">TRANCHPAY</a></h6>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div #preloader id="preloader">
</div>
