<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card card-body border raduis-sm">
                <img src="/assets/img/logo.png" alt="LOGO" class="logo_" (load)="imgLoad($event)">
                <nz-divider nzText="{{ user.full_name }}"></nz-divider>
                <h5 class="text-dark-blue m-auto my-3">{{ user.email }}</h5>
                <button (click)="logout()" [nzLoading]="logoutLoad" nz-button class="btn submit-btn border my-2 shadow-sm">SE DÉCONNECTER</button>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>