<div class="container">
  <div class="center">
    <nz-result nzStatus="success" nzTitle="Votre paiement s'est terminé avec succès."
      nzSubTitle="Merci de faire confiance à Tranche Pay. Votre partenaire pour vos achats.">
      <div nz-result-extra>
        <button nz-button class="btn white-btn align-items-center" (click)="home()">
            <i nz-icon nzType="home" nzTheme="outline"></i>
            Accueil</button>
        <button nz-button class="btn submit-btn" (click)="commande()">Voir la commande</button>
      </div>
    </nz-result>

  </div>
</div>
