


:host ::ng-deep input{
    font-size: 20px;
    font-weight: 700;
}

:host ::ng-deep td{
    font-size: 20px;
    font-weight: 700;
}

:host ::ng-deep .ant-col-24.ant-form-item-label>label{
    font-size: 20px;
    font-weight: 700;
}
.type-pay{
   padding: 10px;
   transform: translateY(-14px);
}
.cardt{
    transform: translateY(-36px);
}
.cards{
    width: 1-0px;
    height: 190px;
}
.pointer{
    display: flex;
    justify-content: center;
}