<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 h-100">
      <div class="row">
        <div class="col">
          <div class="card card-body shadow border raduis-sm h-100">
            <span class="h6" nzRequered>Rechercher un client</span>

            <input nz-input nzSize="large" class="total" (ngModelChange)="clientSelected($event)" ngModel
              (input)="search($event)" [nzAutocomplete]="auto"
              placeholder="Rechercher le client par numéro de téléphone">
            <nz-autocomplete #auto>
              <nz-auto-option *ngFor="let client of clients ?? []" [nzValue]="client.telephone">
                {{ client.prenoms }}
                {{ client.nom }} - {{ client.telephone }}</nz-auto-option>
            </nz-autocomplete>
            <nz-alert *ngIf="clientError" nzType="error" nzShowIcon [nzDescription]="clientError"></nz-alert>


          </div>
        </div>
        <div class="col">
          <div class="card card-body shadow border raduis-sm h-100">
            <nz-divider nzOrientation="left" [nzText]="client"></nz-divider>
            <ng-container *ngIf="selectedClient; else addClient">
              <span class="lead bold text-dark">Prénom : {{ selectedClient.prenoms }}</span>
              <span class="lead bold text-dark">Nom : {{ selectedClient.nom }}</span>
              <h3 class="lead bold text-dark">Téléphone : {{ selectedClient.telephone }}</h3>
            </ng-container>
            <ng-template #addClient>
              <nz-alert class="rounded-2" nzShowIcon nzType="warning"
                nzDescription="Rechercher et selectionner un client."></nz-alert>
            </ng-template>


          </div>
        </div>
      </div>
      <br>
      <div class="card card-body shadow p-2 border raduis-sm">

        <form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm">
          <nz-divider nzDashed [nzOrientation]="'left'" [nzText]="i_t"></nz-divider>
          <ng-template #i_t>
            <span class="text-dark-green bold lead"> Ajouter un produit </span>
          </ng-template>
          <div class="row align-items-center">
            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="last_name">Nom du produit</nz-form-label>
                <nz-form-control>
                  <input nzSize="large" formControlName="nom_produit" nz-input name="nom_produit" type="text"
                    id="nom_produit" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="quantite_produit">Quantité</nz-form-label>
                <nz-form-control>
                  <input nzSize="large" formControlName="quantite_produit" nz-input type="number"
                    name="quantite_produit" type="number" min="1" id="quantite_produit" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-3">
              <nz-form-item>
                <nz-form-label nzRequired nzFor="prix_unitaire_produit">Prix Unitaire
                </nz-form-label>
                <nz-form-control>
                  <input nzSize="large" formControlName="prix_unitaire_produit" nz-input name="nom_produit"
                    type="number" id="prix_unitaire_produit" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-2">
              <button class="shadow" nz-button class="btn submit-btn" (click)="addToList()"
                [disabled]="!validateForm.valid">
                Ajouter
              </button>
            </div>
          </div>

        </form>
        <nz-alert *ngIf="produitsError" nzType="error" nzShowIcon [nzDescription]="produitsError"></nz-alert>

        <br />
        <nz-table #basicTable nzShowPagination="false" [nzData]="produits" [nzLoading]="isLoad">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Quantité</th>
              <th>PU</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.nom }}</td>
              <td>{{ data.quantite }}</td>
              <td>{{ data.prix_unitaire }}</td>
              <td>
                <button class="btn btn-danger" title="supprimer le produit" (click)="removeProduit(data)">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>


    </div>
    <div class="col">

      <div class="card shadow raduis-sm">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <span class="lead text-dark">Total: </span>
            <span
              class="lead bold text-dark-green">{{ total() | currency: "FCFA":"symbol":"1.0":"fr" }}</span>
          </div>
          <br>
          <div class="d-flex align-items-center justify-content-between">
            <span class="lead text-dark">Commission: </span>
            <span
              class="lead bold text-dark-green">{{ commission| currency: "FCFA":"symbol":"1.0":"fr" }}</span>
          </div>
          <div nz-row>
            <div nz-col nzSpan="24">

              <nz-divider nzDashed [nzOrientation]="'left'" [nzText]="i_c"></nz-divider>
              <ng-template #i_c>
                <span class="text-dark-green bold lead">
                  Durée de paiement </span>
              </ng-template>
              <div *ngIf="selectModeError" class="alert alert-danger">
                Choissir le mode de paiement
              </div>

              <nz-alert *ngIf="paymentError" nzType="error" nzShowIcon [nzDescription]="paymentError"></nz-alert>

              <form nz-form [formGroup]="payementFormGroup">

                <nz-form-item>
                  <nz-form-control nzHasFeedback [nzSpan]="24">
                    <nz-radio-group (ngModelChange)="onModeChange($event)" formControlName="payementType">
                      <label class="d-block" *ngFor="let item of modePaiements" nz-radio
                        [nzValue]="item.id">{{ item.label }}</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label class="total" nzFor="first_part" nzSpan="24" nzRequired>Prémier versement
                  </nz-form-label>
                  <nz-form-control nzHasFeedback [nzSpan]="24" [nzErrorTip]="firstPartError">
                    <input nzSize="large" type="number" nz-input class="total" min="{{ aPayer() }}"
                      formControlName="firstPart" name="first_part" placeholder="Prémier versement" />
                    <ng-template let-control #firstPartError>
                      <ng-container *ngIf="control.hasError('required')">Le montant est obligatoire.</ng-container>
                      <ng-container *ngIf="control.hasError('min')">Le montant mini est {{ aPayer() }} FCFA.
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label class="total" nzFor="phone_number" nzSpan="24" nzRequired>
                    <nz-divider [nzText]="n_p"></nz-divider>
                    <ng-template #n_p>
                      <span class="lead bold">Numéro de paiement</span>
                    </ng-template>

                  </nz-form-label>
                  <nz-form-control nzHasFeedback [nzSpan]="24" [nzErrorTip]="telephoneError">
                    <input type="number" nz-input class="total " formControlName="telephone" name="phone_number"
                      placeholder="Numéro de téléphone" />
                    <ng-template let-control #telephoneError>
                      <ng-container *ngIf="control.hasError('required')">Le numéro est obligatoire.</ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">Le numéro de téléphone est invalide.
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>

              </form>

              <nz-divider nzDashed [nzOrientation]="'left'" [nzText]="i_p_t"></nz-divider>
              <ng-template #i_p_t>
                <span class="text-dark-green lead bold">
                  Payer avec
                </span>
              </ng-template>
              <div class="row">
                <div (click)="saveVente(item.type_paiement, item.name)" *ngFor="let item of paiementTypes"
                  class="col-md-6 col-sm-12 col-xs-12 col-lg-6 ">
                  <div class="shadow-sm card card-body payement-img">
                    <img [src]="item.image_src" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- TEMPLATES -->

<ng-template #client>
  <span class="lead bold text-dark-green">Information du client</span>
</ng-template>
