<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card card-body shadow raduis-xm mb-5">
        <div class="section-title mt-3">
          <nz-divider class="p-0 m-2" [nzText]="list_title"></nz-divider>
          <ng-template #list_title>
            <div style="display: inline-block">
              <h3 class="text-dark-green bold">Liste des produits</h3>
              <button
                nz-button
                class="btn submit-btn border my-2 shadow"
                (click)="showModal()"
              >
                AJOUTER UN NOUVEAU PRODUIT
              </button>

              <div
                class="modal fade"
                id="newProductModalLabel"
                tabindex="-1"
                aria-labelledby="newProductModal"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="newProductModalLabel">
                        Modal title
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">...</div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24">
            <div class="card card-body raduis-sm m-0">
              <nz-table
                #basicTable
                nzShowPagination="false"
                [nzData]="produits"
              >
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>PU</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.nom }}</td>
                    <td>{{ data.quantite }}</td>
                    <td>{{ data.prix_unitaire }}</td>
                    <td>
                      <button
                        class="btn btn-danger"
                        title="supprimer le produit"
                        (click)="removeProduit(data)"
                      >
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24" class="d-flex justify-content-center">
            <!-- <nz-divider [nzText]="i_c"></nz-divider> -->

            <button
              [disabled]="!produits.length"
              nz-button
              class="btn submit-btn border my-2 shadow btn-block"
              (click)="displayModal()"
            >
              AJOUTER LES INFORMATIONS DU CLIENT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Ajout d'un nouveau produit-->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="undefined"
  (nzOnCancel)="showModal()"
>
  <div *nzModalContent>
    <div nz-col nzSpan="24">
      <nz-divider [nzText]="a_p"></nz-divider>
      <ng-template #a_p>
        <span class="text-dark-green bold"> AJOUT D'UN NOUVEAU PRODUIT </span>
      </ng-template>
      <div class="m-2">
        <div [nzLayout]="'vertical'" nz-form [formGroup]="validateForm">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="last_name"
              >Nom du produit</nz-form-label
            >
            <nz-form-control>
              <input
                formControlName="nom_produit"
                nz-input
                name="nom_produit"
                type="text"
                id="nom_produit"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="quantite_produit"
              >Quantité</nz-form-label
            >
            <nz-form-control>
              <input
                formControlName="quantite_produit"
                nz-input
                type="number"
                name="quantite_produit"
                type="number"
                min="1"
                id="quantite_produit"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="prix_unitaire_produit"
              >Prix Unitaire
            </nz-form-label>
            <nz-form-control>
              <input
                formControlName="prix_unitaire_produit"
                nz-input
                name="nom_produit"
                type="number"
                id="prix_unitaire_produit"
              />
            </nz-form-control>
          </nz-form-item>
          <div class="row">
            <div class="col-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="showModal()">Annuler</button>
    <button
      class="shadow"
      nz-button
      nzType="primary"
      (click)="addToList()"
      [disabled]="!validateForm.valid"
    >
      Ajouter
    </button>
  </div>
</nz-modal>
<!--Information du client-->
<nz-modal
  [(nzVisible)]="isInvisible"
  [nzTitle]="undefined"
  (nzOnCancel)="displayModal()"
>
  <div *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-divider [nzText]="i_c"></nz-divider>
        <ng-template #i_c>
          <span class="text-dark-green bold"> Informations du client </span>
        </ng-template>
        <nz-form nz-form [formGroup]="validateFormClient">
          <nz-form-label nzRequired nzFor="telephone"
            >N° du client</nz-form-label
          >
          <nz-form-item>
            <nz-form-control>
              <nz-select
                (ngModelChange)="clientChange($event)"
                [nzDisabled]="produits.length == 0"
                (nzOnSearch)="onClientSearch($event)"
                [nzNotFoundContent]="add_client_tem"
                id="telephone"
                name="telephone"
                nzAllowClear="true"
                nzShowSearch
                nzServerSearch
                formControlName="telephone"
              >
                2
                <ng-container *ngFor="let o of clients">
                  <nz-option
                    *ngIf="!loadClient"
                    [nzValue]="o.telephone"
                    [nzLabel]="o.telephone + ' - ' + o.prenoms + ' ' + o.nom"
                  ></nz-option>
                </ng-container>
                <nz-option *ngIf="loadClient" nzDisabled nzCustomContent>
                  <i nz-icon nzType="loading" class="loading-icon"></i>
                  Rechercher en cours...
                </nz-option>
                <ng-template #add_client_tem>
                  <button
                    nz-button
                    class="btn submit-btn border my-2 shadow"
                    (click)="addClient()"
                  >
                    Ajouter le nouveau client
                  </button>
                </ng-template>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-form>
      </div>
    </div>

    <div nz-row>
      <nz-form [nzLayout]="'vertical'" nz-form [formGroup]="validateFormClient">
        <div nz-col nzSpan="24">
          <div nz-row nzGutter="48" class="my-4">
            <div
              nz-col
              nzSpan="12"
              style="display: flex; justify-content: center"
              *ngFor="let item of modePaiement"
            >
              <div
                class="card card-pay shadow raduis-sm"
                style="cursor: pointer"
                [ngStyle]="{
                  pointerEvents: !validateFormClient.get('telephone')?.value
                    ? 'none'
                    : 'auto'
                }"
                (click)="makeModalVisible(item.type_paiement)"
              >
                <img
                  [src]="item.image_src"
                  [alt]="item.type_paiement"
                  [title]="item.type_paiement"
                  [ngStyle]="{ width: mystyle.width, padding: mystyle.padding }"
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">
                    {{ item.type_paiement }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-form>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="showModal()">Annuler</button>
  </div>
</nz-modal>
<!-- Finalisation-->
<nz-modal
  nzTitle="Choisir votre moyen de paiement"
  [nzStyle]="{ width: '730px' }"
  [(nzVisible)]="!makeVisible"
  [nzTitle]="undefined"
  (nzOnCancel)="makeModalInvisible()"
>
  <div *nzModalContent>
    <div nz-row nzGutter="48" class="my-4">
      <div nz-col nzSpan="24">
        <div nz-row>
          <div nz-col nzSpan="16" nzOffset="4">
            <form nz-form>
              <nz-form-label>Entrer le montant total du paiement</nz-form-label>
              <nz-form-item>
                <nz-form-control [nzSpan]="24">
                  <input
                    class="form-control"
                    type="number"
                    #inputElement
                    [ngModelOptions]="{ standalone: true }"
                    [ngStyle]="{ width: '100%', height: '50px' }"
                    [(ngModel)]="montantTotal"
                    placeholder="Montant total"
                  />
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <h3 class="text-center mt-5">
          <span class="text-dark-green"> Choisir votre moyen de paiement </span>
        </h3>
      </div>
      <div
        nz-col
        nzSpan="8"
        style="display: flex; justify-content: center"
        *ngFor="let item of choixModePaiement"
      >
        <div
          class="card card-pay shadow raduis-sm"
          style="cursor: pointer"
          [ngStyle]="{
            width: '240px !important',
            heigth: '140px !important',
            pointerEvents: !montantTotal ? 'none' : 'auto'
          }"
          (click)="logData(montantTotal, item.name)"
        >
          <div class="d-flex justify-content-center">
            <div>
              <img
                [src]="item.image_src"
                [alt]="item.choice_label"
                [title]="item.choice_label"
                style="
                  width: 196px;
                  padding: 10px;
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                "
                class="center-block"
              />
              <div class="card-body">
                <h5
                  [ngStyle]="{
                    padding: item.padding,
                    marginTop: item.margin_top
                  }"
                  class="card-title text-center"
                >
                  {{ item.choice_label }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="makeModalInvisible()">
      Annuler le paiement
    </button>
    <button
      class="shadow"
      nz-button
      nzType="primary"
      (click)="addToList()"
      [disabled]="!validateForm.valid"
    >
      Valider le paiement
    </button>
  </div>
</nz-modal>
