<div class="row">
    <div class="card card-body shadow raduis-xm">
        <div class="row px-4 my-2">
            <div class="col-12">
                <section id="contact" class="contact">
                    <div class="container">

                        <div class="section-title">
                            <h1>Parrainages</h1>
                        </div>
                        <nz-alert nzType="info" nzMessage="Informational Notes" nzDescription="Lorsqu'un nouveau commerçant s'inscrit via son lien de parrainage, il ne paye aucun
                        frais pour ses 3 prochaines ventes." nzShowIcon></nz-alert>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>