<div class="card card-body raduis-sm shadow-sm pb-5">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h4 class="text-dark-green my-2 bold text-uppercase">connexion et sécurité</h4>
    </li>
    <li class="list-group-item">
      <div class="d-flex align-items-center justify-content-between">
        <span class="d-block text-dark">Numéro de téléphone</span>
        <div (click)="editPhoneNumber()" >
          <span class="text-dark fs-6">{{ previewPhone() }}</span>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex align-items-center justify-content-between">
        <span class="d-block text-dark">Mot de Passe</span>
        <div (click)="editPassword()"> 
          <span class="text-dark fs-3">....</span>
          <span  routerLinkActive="router-link-active"  nz-icon nzType="edit" class="mx-2 btn btn-default" nzTheme="outline"></span>
        </div>
      </div>
    </li>
  </ul>
</div>
