.partners {
    margin-bottom: 20px;
    flex-grow: 1;
    max-width: 224px;

}

.payment-type > * {
    color: rgb(62, 56, 56) !important;
}

.logo{
    width: 100px;
    aspect-ratio: auto 100 / 119;
    object-fit: cover;
}

.check{
    height: 10px;
    width: 12px;
    background: #8bbc06;
}