<div class="card raduis-sm shadow my-3 p-4">
  <h4 class="text-dark-green text-uppercase bold" >Nos PARTENAIRES</h4>
    <p>En magasin ou sur internet, réglez vos achat avec flexibilité dans plus de 50 enseignes.
    </p>
    <br><br>

  <div class="d-flex">
    <div *ngFor="let item of partenaires" class="mx-1">
      <div >
        <a target="_blank" href="{{ item?.site_web ?? '' }}" class="ng-star-inserted">
          <div class="item">
            <img class="logo mx-3" src="{{ item.logo_url }}">

            <!-- <div class="payment-type mt-2">
              <div><span class="check"></span>
                <p>{{ item.nom }}</p>
              </div>
              <div><span class="check"></span>
                <p>{{ item.type.nom }}</p>
              </div>
            </div> -->
          </div>
        </a>
      </div>
    </div>

  </div>



  <ng-template #loadData>
    <div class="container w-100" style="width: 100%">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
      <br />
      <nz-skeleton [nzActive]="true"></nz-skeleton>
      <br />
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </ng-template>

</div>
