<div class="card card-body shadow-sm border raduis-sm">

  <div class="d-flex justify-content-between">
    <div>
      <h3>Commandes livrées</h3>
    </div>
    <div>
      <input [(ngModel)]="titre" (ngModelChange)="search($event)" type="text" class="form-control"
        placeholder="Rechercher">
    </div>
  </div>
  <br>
  <nz-table #basicTable [nzData]="displayCommandes" [nzLoading]="isLoad">
    <thead>
      <tr>
        <th class="bold text-dark-green">REFERENCE</th>
        <th class="bold text-dark-green">PRIX TOTAL</th>
        <th class="bold text-dark-green">COMMISSION</th>
        <th class="bold text-dark-green">BOUTIQUE</th>
        <th class="bold text-dark-green">CLIENT</th>
        <th class="bold text-dark-green">DATE LIMITE</th>
        <th class="bold text-dark-green">DETAILS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td class="text-dark-green">{{ data.reference }}
        </td>
        <td class="text-dark-green">{{ total(data) }} FCFA</td>
        <td class="text-dark-green">{{ data.commission }} FCFA</td>
        <td class="text-dark-green">{{ data.boutique.nom }}</td>
        <td class="text-dark-green">{{ data.client.prenoms+" " }}{{ data.client.nom }}</td>

        <td class="text-dark-green">{{ data.date_limite | date:'d MMMM y' }}</td>
        <td *ngIf="Authsrv.can('voir commande')">
          <button (click)="show(data)" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="eye"
              nzTheme="outline"></i></button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
