<nz-layout class="layout">
  <nz-sider nzCollapsible class="bg" [(nzCollapsed)]="isCollapsed" [nzWidth]="280" [nzTrigger]="null">
    <div class="logo">
      <a href="/">
        <img src="/assets/img/logo2.png" alt="logo" />
        <h1>{{ title }}</h1>
      </a>
    </div>
    <ul nz-menu class="bg mt-3" nzMode="inline">
      <li nzSelected="true" nz-menu-item (click)="goto('dashboard')">
        <span nz-icon nzType="dot-chart" nzTheme="outline"></span>
        <span class="text-dark-green bold">TABLEAU DE BORD</span>
      </li>
      <!-- <li nzSelected="true" nz-menu-item (click)="goto('commandes')">
        <i nz-icon nzType="unordered-list" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Mes Commandes</span>
      </li> -->
      <li nz-submenu nzOpen [nzMenuClassName]="'sub-menu text-dark-green'" [nzTitle]="activite">
        <ng-template #activite>
          <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
          <span class="text-dark-green bold">MES ACTIVITÉS</span>
        </ng-template>

        <ul>
          <li nz-menu-item (click)="goto('commandes')">
            <span class="text-dark-green ">Mes commandes</span>
          </li>
          <li nz-menu-item (click)="goto('versement-list')">
            <span class="text-dark-green ">Mes versements</span>
          </li>
          <!-- <li nz-menu-item (click)="goto('payements')">
            <i nz-icon nzType="dollar-circle" class="icon" nzTheme="outline"></i>
            <span class="text-dark-green bold">Mes paiements</span>
          </li> -->
        </ul>
      </li>
      <li nz-submenu nzOpen [nzTitle]="profil">
        <ng-template #profil>
          <i nz-icon nzType="user" class="icon" nzTheme="outline"></i>
          <span class="text-dark-green bold"> Mon profil </span>
        </ng-template>
        <ul>
          <li nz-menu-item (click)="goto('coordonnees')">
            <span class="text-dark-green ">Coordonnées</span>
          </li>
          <li nz-menu-item (click)="goto('securite')">
            <span class="text-dark-green ">Connexion et sécurité</span>
          </li>
          <li nz-menu-item (click)="goto('deplafonnement')">
            <span class="text-dark-green ">Déplafonnement</span>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="goto('service-client')">
        <i nz-icon nzType="question-circle" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Service Client</span>
      </li>
      <li nz-menu-item (click)="goto('partenaires')">
        <i nz-icon nzType="link" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Nos Partenaires</span>
      </li>
      <li (click)="logout()" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ?
                    'Se déconnecter' : ''">
        <i nz-icon nzType="logout" class="icon" nzTheme="outline">

        </i>
        <span class="text-dark-green bold">Se déconnecter</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="d-flex align-items-center justify-content-end">
        <a routerLink="/docs/presentation" class="text-uppercase bold text-dark-green mx-2">documentation</a>
        <a routerLink="/home/page-commercant" class="text-uppercase bold text-dark-green mx-2">commercants</a>
        <a routerLink="/home/page-client" class="text-uppercase bold text-dark-green mx-2">particuliers</a>
        <a routerLink="/home/page-contact" class="text-uppercase bold text-dark-green me-4">Contactez nous</a>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content p-sm-0 p-xs-0 m-sm-0 m-xs-0">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <h6 class="text-dark-green text-center">
        &copy; 2022 tous droits reservé, <a href="/">TRANCHPAY</a>
      </h6>
    </nz-footer>
  </nz-layout>
</nz-layout>
