<div class="card card-body shadow-sm border raduis-sm">

  <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon
    nzTitle="{{ client?.prenoms }} {{ client?.nom }}" nzSubtitle="Téléphone: {{ client?.telephone }}"></nz-page-header>
  <br>
  <nz-divider nzText="Liste des commandes"></nz-divider>
  <nz-table #basicTable [nzData]="commandes" nzTableLayout="fixed" [nzLoading]="isLoad">
    <thead>
      <tr>
        <th class="bold text-dark-green">REFERENCE</th>
        <th class="bold text-dark-green">PRIX TOTAL</th>
        <th class="bold text-dark-green">NOMBRE PRODUITS</th>
        <th class="bold text-dark-green">COMMISSION</th>
        <th class="bold text-dark-green">DATE LIMITE</th>
        <th class="bold text-dark-green">CLIENT</th>
        <th class="bold text-dark-green">ETAT</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data" class="pointer" (click)="goto(data)">
        <td class="text-dark-green">{{ data.reference }}
        </td>
        <td class="text-dark-green">{{ data.prix_total }} FCFA</td>
        <td class="text-dark-green">{{ data.nb_produits }}</td>
        <td class="text-dark-green">{{ data.commission }} FCFA</td>
        <td class="text-dark-green">{{ data.date_limite | date:'d MMMM y' }}</td>
        <td class="text-dark-green">{{ data.client.prenoms+" " }} {{ data.client.nom }}</td>


        <td class="text-dark-green">
          <ng-container *ngIf="data.etat_commande.nom=='load'; else elseTemplate">
            <nz-tag nzColor="processing">Encours</nz-tag>
          </ng-container>
          <ng-template #elseTemplate>
            <nz-tag nzColor="success">Finish</nz-tag>
          </ng-template>
        </td>

      </tr>
    </tbody>
  </nz-table>
</div>
