<nz-layout *ngIf="!isLoad; else loadingTemplate" class="app-layout">
  <nz-sider class="menu-sidebar bg" nzCollapsible nzWidth="300px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="/assets/img/logo2.png" alt="logo">
        <h1>{{ title }}</h1>
      </a>
    </div>
    <ul nz-menu class="bg-grad" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container>
        <li [routerLink]="['/commercant/accueil']" nz-menu-item >
          <i nz-icon class="icon">
            <img src="/assets/icons/grid.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title">TABLEAU DE BORD</span>
        </li>
        <li [routerLink]="['/commercant/ventes']" nz-menu-item >
          <i nz-icon class="icon">
            <img src="/assets/icons/list.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title">MES VENTES</span>
        </li>
        <li nz-menu-item [routerLink]="['/commercant/soldes']">
          <i nz-icon class="icon">
            <img src="/assets/icons/8.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title">PORTFEUILLE</span>
        </li>
        <li nz-menu-item [routerLink]="['/commercant/utilisateurs']">
          <i nz-icon class="icon">
            <img src="/assets/icons/7.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title">UTILISATEURS</span>
        </li>
        <li nz-menu-item [routerLink]="['/commercant/soldes']">
          <i nz-icon class="icon">
            <img src="/assets/icons/4.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title text-uppercase">Connexion et Sécurité</span>
        </li>
        <li nz-menu-item [routerLink]="['/commercant/api']">
          <i nz-icon class="icon">
            <img src="/assets/icons/2.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title">API</span>
        </li>
        <li nz-menu-item [routerLink]="['/commercant/conditions']">
          <i nz-icon class="icon">
            <img src="/assets/icons/7.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title text-uppercase">CoNDITIONS</span>
        </li>

        <li nz-menu-item [routerLink]="['/commercant/service-client']">
          <i nz-icon class="icon">
            <img src="/assets/icons/6.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title text-uppercase">SERVICE CLIENT</span>
        </li>
        <li nz-menu-item >
          <i nz-icon class="icon">
            <img src="/assets/icons/1.svg" alt="" srcset="">
          </i>
          <span class="text-white bold menu-title text-uppercase">DÉCONNEXION</span>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="bg-white">
      <div class="d-flex align-items-center justify-content-end">
        <a routerLink="/docs/presentation" class="text-uppercase bold text-dark-green mx-3">documentation</a>
        <a routerLink="/home/page-commercant" class="text-uppercase bold text-dark-green mx-3">commercants</a>
        <a routerLink="/home/page-client" class="text-uppercase bold text-dark-green mx-3">particuliers</a>
        <a routerLink="/home/page-contact" class="text-uppercase bold text-dark-green mx-3">Contactez nous</a>
        <a routerLink="/commercant/profile" class="text-uppercase bold text-dark-green user-avatar">
          <span nz-icon nzType="user" nzTheme="outline" ></span>
        </a>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>

</nz-layout>

<ng-template #loadingTemplate>
  <div class="center">
    <div class="loader">
      <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle class="load one" cx="60" cy="60" r="40" />
        <circle class="load two" cx="60" cy="60" r="40" />
        <circle class="load three" cx="60" cy="60" r="40" />
        <g>
          <circle class="point one" cx="45" cy="70" r="5" />
          <circle class="point two" cx="60" cy="70" r="5" />
          <circle class="point three" cx="75" cy="70" r="5" />
        </g>
      </svg>
    </div>
  </div>
</ng-template>

<ng-template #trigger>
  <mat-icon>person</mat-icon>
</ng-template>
