<div class="bg ">
  <div class="center">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="card  shadow-sm border card-body raduis-sm">
          <h1 class="text-dark-green">
            Activer votre compte.
          </h1>
          <form nz-form nzLayout="horizontal" [formGroup]="validateForm">
            <div class="row my-2">
              <div class="col form-group-client">
                <label for="telephone">Téléphone *</label>
                <input type="text" minlength="9" maxlength="9" class="form-control shadow-sm" id="telephone"
                  formControlName="telephone" required name="telephone">
              </div>
            </div>
            <div class="row my-2">
              <div class="col form-group-client">
                <label for="telephone">Code d'activation *</label>
                <input type="text" minlength="6" maxlength="6" class="form-control shadow-sm" id="code"
                  formControlName="code" required name="code">
              </div>
            </div>
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzRequired>Code Pin</nz-form-label>
              <nz-form-control nzHasFeedback [nzSpan]="24" [nzErrorTip]="combineTpl">
                <input nz-input name="pin"  minlength="4" maxlength="4"
                  required formControlName="pin" />
                <ng-template #combineTpl let-control>
                  <ng-container *ngIf="control.hasError('maxlength')">Donner un code pin à 4 chiffres</ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">Donner un code pin à 4 chiffres</ng-container>
                  <ng-container *ngIf="control.hasError('required')">Code pin est obligatoire.</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <div class="row  my-2">
              <div class="col form-group-client">
                <label for="pin_conf">Confirmer votre code pin *</label>
                <input type="password" class="form-control shadow-sm" minlength="4" maxlength="4"
                  formControlName="pin_conf" required id="pin_conf" name="pin_conf">
              </div>
            </div>
            <div>
              <button (click)="save()" [disabled]="!validateForm.valid" nz-button [nzLoading]="isLoad"
                class="btn submit-btn border my-2 shadow" type="submit">CONFIRMER</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
