<div class="row">
    <div class="col-sm-6">
        <h4 style=" margin-bottom: 16px;">Liste Des Administrateurs</h4>
    </div>


    <br>
</div>
<div class="row">
    <div class="col-sm-6">
        <!-- Top search START -->
        <div class="nav my-3 my-xl-0 flex-nowrap align-items-center">
            <div class="col-sm-7">

                <div class="search-box">
                    <input type="text" class="form-control" placeholder="Email&hellip;">
                </div>

                <!-- Top search END -->
            </div>
        </div>
        <!-- Top search END -->
    </div>
    <div class="col-sm-6">
        <button nz-button nzType="default" (click)="showModal()">
  <span>Create Admin</span>
</button>
    </div>

</div><br><br>

<nz-table #middleTable nzSize="middle" [nzData]="admins">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of middleTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.full_name }}</td>
            <td>{{ data.email }}</td>
        </tr>
    </tbody>
</nz-table>


<div>

    <nz-modal [(nzVisible)]="isVisible" nzTitle="Enregistrer Admin" nzOkText="Enregistrer" nzCancelText="Cancel" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
        <ng-container *nzModalContent>

            <nz-input-group nzSize="large" [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser">
                <input type="text" nz-input placeholder="Enter  fullname" />
            </nz-input-group>
            <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #suffixTemplateInfo>
                <i nz-icon nz-tooltip nzTooltipTitle="Extra information" nzType="info-circle"></i>
            </ng-template>
            <br />
            <br />
            <input nz-input placeholder="Email" nzSize="large" />
            <br />
            <br />

            <nz-select nzMode="multiple" nzSize="large" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
                <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>

            </nz-select>
            <br />

            <br>
            <br>
            <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="password" [(ngModel)]="password" nzSize="large" />
            </nz-input-group>
            <ng-template #suffixTemplate>
                <i style=" cursor: pointer;" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>

        </ng-container>
    </nz-modal>
</div>
<br />