<div class="card card-body raduis-sm shadow-sm pb-5">
  <form [formGroup]="form">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4 class="text-dark-green my-2 text-uppercase">
          Modifier le numéro de téléphone de connexion
        </h4>
      </li>
      <li class="list-group-item">
        <div class="d-flex align-items-center justify-content-between">
          <span class="d-block text-dark">PIN actuel </span>
          <div>
            <input
              type="password"
              formControlName="current_password"
              class="inline-edit fs-4"
              minlength="4"
              maxlength="4"
            />
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex align-items-center justify-content-between">
          <span class="d-block text-dark">Nouveau PIN</span>
          <div>
            <input
              type="password"
              formControlName="new_password"
              class="inline-edit fs-4"
              minlength="4"
              maxlength="4"
            />
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex align-items-center justify-content-between">
          <span class="d-block text-dark">Confirmer le nouveau PIN</span>
          <div>
            <input
              type="password"
              formControlName="new_password_conf"
              class="inline-edit fs-4"
              minlength="4"
              maxlength="4"
            />
          </div>
        </div>
      </li>
      <br /><br />
      <li class="list-group-item">
      <div class="d-flex align-items-center justify-content-between">
        <button class="btn btn-default-border" (click)="location.back()">
          Annuler
        </button>
        <button
          [disabled]="load || !form.valid"
          class="btn btn-primary"
          (click)="save()"
        >
          Valider
        </button>
      </div>
      </li>

      
    </ul>
  </form>
</div>
