<div class="container">
    <div class="center">
      <nz-result nzStatus="error" nzTitle="Votre paiement a été annulée. Merci de contacter le service client si c'est une erreur."
        nzSubTitle="Merci de faire confiance à Tranche Pay. Votre partenaire pour vos achats.">
        <div nz-result-extra>
          <button nz-button class="btn shadow-sm white-btn align-items-center" (click)="home()">
              <i nz-icon nzType="home" nzTheme="outline"></i>
              Accueil</button>
        </div>
      </nz-result>
  
    </div>
  </div>
  