<nz-layout class="layout">
    <nz-sider nzCollapsible class="bg" [(nzCollapsed)]="isCollapsed" [nzWidth]="280">
        <div class="logo">
            <img src="assets/img/logo2.png" alt="logo">
            <h1>TranchePay Admin</h1>
        </div>
        <ul nz-menu class="bg mt-3" nzMode="inline">
            <li nzSelected="true" nz-menu-item (click)="goto('dashboard')">
                <i nz-icon nzType="dot-chart" class="icon" nzTheme="outline"></i>
                <span class="text-dark-green bold">Dashboard</span>
            </li>
            <li nz-submenu nzOpen [nzMenuClassName]="'sub-menu text-dark-green bold'" [nzTitle]="activite">
                <ng-template #activite>
                    <i nz-icon nzType="shopping" class="icon" nzTheme="outline"></i>
                    <span class="text-dark-green bold">
                        Commandes
                    </span>
                </ng-template>

                <ul>
                    <li nz-menu-item (click)="goto('commandes')">
                        <i nz-icon nzType="hourglass" class="icon" nzTheme="outline"></i>
                        <span class="text-dark-green bold">Dernières Commandes</span>
                    </li>
                    <li nz-menu-item (click)="goto('commandes-livres')">
                        <i nz-icon nzType="check-circle" class="icon" nzTheme="outline"></i>
                        <span class="text-dark-green bold">Commandes Livrées</span>
                    </li>
                    <li nz-menu-item (click)="goto('commandes-encours')">
                        <i nz-icon nzType="field-time" class="icon" nzTheme="outline"></i>
                        <span class="text-dark-green bold">Commandes En-Cours</span>
                    </li>
                </ul>
            </li>
            <li nz-menu-item (click)="goto('commercant')">
                <i nz-icon nzType="solution" class="icon" nzTheme="outline"></i>
                <span class="text-dark-green bold">Commerçants</span>
            </li>
            <li nz-menu-item (click)="goto('users')">
                <i nz-icon nzType="link" class="icon" nzTheme="outline"></i>
                <span class="text-dark-green bold">Partenaire</span>
            </li>
            <li nz-menu-item (click)="goto('users')">
                <i nz-icon nzType="safety" class="icon" nzTheme="outline"></i>
                <span class="text-dark-green bold">Administrateurs</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>

        </nz-header>
        <nz-content>
            <div class="inner-content">
                <div class="card card-body raduis-sm shadow">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </nz-content>
        <nz-footer>
            <h6 class="text-dark-green text-center">&copy; 2022 tous droits reservé, <a href="tranchepay.com">TRANCHPAY</a></h6>
        </nz-footer>
    </nz-layout>
</nz-layout>