<nz-layout class="layout">
  <nz-sider nzCollapsible class="bg" [(nzCollapsed)]="isCollapsed" [nzWidth]="280">
    <div class="logo">
      <img src="assets/img/logo2.png" alt="logo">
      <h1>TranchePay</h1>
    </div>
    <ul nz-menu class="bg mt-3" nzMode="inline">
      <li *ngIf="Authsrv.can('voir dashboard')" nzSelected="true" nz-menu-item (click)="goto('dashboard')">
        <i nz-icon nzType="dot-chart" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Dashboard</span>
      </li>
      <li *ngIf="Authsrv.can('lister commande')" nz-submenu nzOpen [nzMenuClassName]="'sub-menu text-dark-green bold'"
        [nzTitle]="activite">
        <ng-template #activite>
          <i nz-icon nzType="shopping" class="icon" nzTheme="outline"></i>
          <span class="text-dark-green bold">
            Commandes
          </span>
        </ng-template>

        <ul>
          <li nz-menu-item (click)="goto('commandes')">
            <i nz-icon nzType="hourglass" class="icon" nzTheme="outline"></i>
            <span class="text-dark-green bold">Dernières Commandes</span>
          </li>
          <li nz-menu-item (click)="goto('commandes-encours')">
            <i nz-icon nzType="field-time" class="icon" nzTheme="outline"></i>
            <span class="text-dark-green bold">Commandes En-Cours</span>
          </li>
          <li nz-menu-item (click)="goto('commandes-livres')">
            <i nz-icon nzType="check-circle" class="icon" nzTheme="outline"></i>
            <span class="text-dark-green bold">Commandes Livrées</span>
          </li>
        </ul>
      </li>
      <li nz-menu-item *ngIf="Authsrv.can('lister commercant')" (click)="goto('commercant')">
        <i nz-icon nzType="fire" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Commerçants</span>
      </li>
      <li *ngIf="Authsrv.can('lister client')" nz-menu-item (click)="goto('clients')">
        <i nz-icon nzType="solution" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Nos clients</span>
      </li>
      <li nz-menu-item (click)="goto('partenaires')">
        <i nz-icon nzType="link" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Partenaire</span>
      </li>
      <li nz-menu-item (click)="goto('profile')">
        <i nz-icon nzType="user" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Profile</span>
      </li>
      <li *ngIf="Authsrv.can('lister utilisateur')" nz-menu-item (click)="goto('user')">
        <i nz-icon nzType="safety" class="icon" nzTheme="outline"></i>
        <span class="text-dark-green bold">Administrateurs</span>
      </li>
      <li nz-menu-item (click)="goto('parametres')">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        <span class="text-dark-green bold">Parametres</span>
      </li>


    </ul>



  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <img class="logo" src="/assets/img/logo.png" alt="Tranchepay">
        </div>
        <div class="mx-5">
          <nz-badge [nzCount]="10" (click)="changeModal('show')" class="dropdown-toggle" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="icon-bel" nz-icon>
              <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.667 17V18H0.666992V17L2.66699 15V9C2.66699 5.9 4.69699 3.17 7.66699 2.29C7.66699 2.19 7.66699 2.1 7.66699 2C7.66699 1.46957 7.87771 0.960859 8.25278 0.585786C8.62785 0.210714 9.13656 0 9.66699 0C10.1974 0 10.7061 0.210714 11.0812 0.585786C11.4563 0.960859 11.667 1.46957 11.667 2C11.667 2.1 11.667 2.19 11.667 2.29C14.637 3.17 16.667 5.9 16.667 9V15L18.667 17ZM11.667 19C11.667 19.5304 11.4563 20.0391 11.0812 20.4142C10.7061 20.7893 10.1974 21 9.66699 21C9.13656 21 8.62785 20.7893 8.25278 20.4142C7.87771 20.0391 7.66699 19.5304 7.66699 19"
                  fill="#010246" />
              </svg>
            </i>
          </nz-badge>
          <nz-avatar></nz-avatar>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content ">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <h6 class="text-dark-green text-center">&copy; 2022 tous droits reservé, <a href="tranchepay.com">TRANCHPAY</a>
      </h6>
    </nz-footer>
  </nz-layout>
</nz-layout>
