<div class="container">
    <h3 class="my-3 text-dark-green bold">Liste Des Clients</h3>
    <br>
    <div class="col-sm-7">

        <div class="search-box">
            <input [(ngModel)]="titre" (ngModelChange)="serarchclient()" type="text" class="form-control" placeholder="Prénom&hellip;">
        </div>

        <!-- Top search END -->
    </div>
    <br>
    <nz-table #nzTable [nzData]="clients" nzTableLayout="fixed" [nzLoading]="isLoad">
        <thead>
            <tr>

                <th>PRENOM</th>
                <th>NOM</th>
                <th>TELEPHONE</th>
                <th>ADRESSE</th>
                <th class="bold text-dark-green">DETAILS</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data">
                <tr>

                    <td>{{ data.prenoms }}</td>
                    <td>{{ data.nom }}</td>
                    <td>{{ data.telephone }}</td>
                    <td>
                        <span *ngIf="data.adresse!=null">
                    <span >{{ data.adresse }}</span>
                        </span>
                        <span *ngIf="data.adresse==null">
                      <span style="color: rgb(248, 11, 11);">Indéfinie</span>
                        </span>
                    </td>
                    <td class="text-dark-green"><i routerLink="show/{{ data.id }}" nz-icon nzType="eye" nzTheme="outline" style="color: #08c;"></i></td>
                </tr>


            </ng-container>
        </tbody>
    </nz-table>

</div>
