<div class="card card-body h-100 raduis-sm shadow">
  <ng-container *ngIf="!isLoad; else elseTemplate">
    <h4 class="text-dark-green bold text-uppercase">Déplafonner votre compte</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, accusantium. Atque quae quidem ducimus commodi voluptates perspiciatis deserunt rerum tenetur odio suscipit, provident dolores quaerat ab omnis eos distinctio culpa.</p>
    <ng-container *ngIf="!client.deplafonnement; else deplafonner">
      <!-- <div class="row text-center">
        <p class="alert text-dark-green h3">
          Déplofonner votre compte pour plus d'avantage.
        </p>
        <br />
        <br />
        <div class="m-auto col-5">
          <form [nzLayout]="'vertical'" nz-form [formGroup]="validateForm" class="border raduis-sm p-4">
            <nz-form-item class="form-group my-3">
              <nz-form-label [nzSpan]="12" nzRequired>Numéro CNI</nz-form-label>
              <nz-form-control [nzSpan]="24" nzValidateStatus="" nzHasFeedback nzErrorTip="Donner un CNI valide!">
                <input autocomplete="false" [maxLength]="13" maxlength="13" type="text" class="form-control shadow-sm"
                  nz-input formControlName="cni" id="cni" name="cni" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-group my-3">
              <nz-form-label [nzSpan]="12" nzRequired>CNI Recto</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Donner un CNI valide!">
                <input type="file" (change)="recto($event)" class="form-control shadow-sm" id="recto" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-group my-3">
              <nz-form-label [nzSpan]="12" nzRequired>CNI Verso</nz-form-label>
              <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Donner un CNI valide!">
                <input type="file" (change)="verso($event)" class="form-control shadow-sm" id="verso" />
              </nz-form-control>
            </nz-form-item>

            <button (click)="save()" [disabled]="
                !validateForm.valid || cniRecto == null || cniVerso == null
              " nz-button [nzLoading]="isBtnLoad" class="btn submit-btn">
              Valider
            </button>
          </form>
          <br /><br /><br />
        </div>
      </div> -->
      <br><br><br>
      <div class="d-flex align-items-center justify-content-around">
        <img (click)="rectoRef.click()" class="pointer" [src]="rectoPreview" alt="RECTO">
        
        <img (click)="versoRef.click()" class="pointer" [src]="versoPreview" alt="VERSO">

        <form enctype="multipart/form-data">
          <input #rectoRef (change)="recto($event)" type="file" name="recto" id="recto" hidden>
        <input #versoRef (change)="verso($event)" type="file" name="verso" id="verso" hidden>
        </form>

      </div>
      <br><br><br>

    </ng-container>
    <ng-template #deplafonner>

      <ng-container *ngIf="client.deplafonner == 0; else elseTemplate">
        <span class="lead text-center mb-5">Votre demande est en attente de validation.</span>
        <div class="mx-5">
          <div class="row">
            <div class="col">
              <img nz-image [nzSrc]="client.deplafonnement.cni_recto" class="cni-image" alt="RECTO">
            </div>
            <div class="col">
              <img nz-image [nzSrc]="client.deplafonnement.cni_verso" class="cni-image" alt="VERSO">
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <nz-alert class="col-6 text-center mt-5 px-5 center" [nzType]="'success'" [nzMessage]="mTemp">
        </nz-alert>
        <ng-template #mTemp>
          <h3>Votre est déplofonné.</h3>
        </ng-template>
      </ng-template>

    </ng-template>

  </ng-container>
</div>
<ng-template #elseTemplate>
  <div class="row">
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </div>
</ng-template>
