<ng-container *ngIf="!isLoad; else elseTemplate">
    <div class="d-flex my-3 justify-content-between align-items-center">
        <div>
            <button nz-tooltip [nzTooltipTitle]="'Revenir en arrièr'" class="mx-2" (click)="onBack()" mat-mini-fab color="default">
                <i nz-icon nzType="arrow-left"></i>
            </button>
            <span class="h4 text-dark-green mx-2">Détails de la commande</span>
        </div>
        <div *ngIf="commande.etat_commande.nom != 'finish'">
            <div class="mx-1">
                <button nz-button class="btn submit-btn border my-2 shadow" (click)="openAddVersementModal()">
                    Faire un versement
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
            <div class="card card-body raduis-sm border">
                <nz-list>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>REFERENCE</b></span> {{ commande.reference }}
                    </nz-list-item>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>MONTANT</b></span> {{ commande.prix_total }} FCFA
                    </nz-list-item>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>COMMISSION</b></span> {{ commande.commission }} FCFA
                    </nz-list-item>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>État commande</b></span>
                        <nz-tag [nzColor]="etatColor(commande)">
                            {{ etatCommande(commande) }}
                        </nz-tag>
                    </nz-list-item>

                </nz-list>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 ">
            <div class="card card-body raduis-sm border">
                <nz-list>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>BOUTIQUE</b></span> {{ commande.boutique.nom }}
                    </nz-list-item>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>PRODUITS</b>
                            <div class="d-inline-block">
                                <ng-container *ngFor="let item of commande.produits">
                                    <nz-tag>{{ item.nom }}</nz-tag>
                                </ng-container>
                            </div>
                        </span>
                    </nz-list-item>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>TOTAL VERSEMENT</b></span> {{ commandeService.montantVerser(commande) }} FCFA
                    </nz-list-item>
                    <nz-list-item class="text-dark-green">
                        <span nz-typography><b>MONTANT RESTANT</b></span> {{ commandeService.montantRestant(commande) }} FCFA
                    </nz-list-item>
                </nz-list>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <nz-divider [nzText]="v_l">
        <ng-template #v_l>
            <h4 class="text-dark-green">Liste des versements</h4>
        </ng-template>
    </nz-divider>
    <div class="row">
        <div class="col">
            <nz-table [nzScroll]="{x:'500px'}" #versements [nzData]="commande.versements">
                <thead>
                    <tr>
                        <th class="bold text-dark-green">REFERENCE</th>
                        <th class="bold text-dark-green">MEHODE</th>
                        <th class="bold text-dark-green">MONTANT</th>
                        <th class="bold text-dark-green">DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of versements.data">
                        <td class="bold text-dark-green">{{ data.reference }}</td>
                        <td class="bold text-dark-green">{{ data.via }}</td>
                        <td class="text-dark-green">{{ data.montant }} FCFA</td>
                        <td class="text-dark-green">{{ data.date_time | date:'d MMMM y' }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="row">
        <div class="col">
            <nz-skeleton [nzActive]="true"></nz-skeleton>
        </div>
        <div class="col">
            <nz-skeleton [nzActive]="true"></nz-skeleton>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <nz-skeleton [nzActive]="true"></nz-skeleton>
        </div>
        <div class="col">
            <nz-skeleton [nzActive]="true"></nz-skeleton>

        </div>
    </div>
</ng-template>