<div class="card card-body raduis-sm shadow-sm">
  <ng-container *ngIf="!isLoad; else elseTemplate">
    <div class="d-flex my-3 justify-content-between align-items-center">
      <div class="d-flex align-items-center">
          <div><i (click)="onBack()" class="pointer d-block fs-4 text-dark-green me-3" nz-icon nzType="arrow-left"></i></div>
        <div>
          <span class="h4 text-dark-green mx-2 text-uppercase">détail de la commande</span>
        </div>
      </div>
      <div *ngIf="commande.etat_commande.nom != 'finish'">
        <div class="mx-1">
          <button
            [disabled]="commande.etat_commande.nom == 'finish' || commande.etat_commande.nom == 'cancel'"
            class="btn btn-primary" (click)="openAddVersementModal()">
            Faire un versement
          </button>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
        <div class="card card-body raduis-sm border">
          <nz-list>
            <nz-list-item class="text-dark-green">
              <span nz-typography><b>REFERENCE</b></span>
              {{ commande.reference }}
            </nz-list-item>
            <nz-list-item class="text-dark-green">
              <span nz-typography><b>BOUTIQUE</b></span>
              {{ commande.boutique.nom }}
            </nz-list-item>

            <nz-list-item class="text-dark-green">
              <span nz-typography><b>ÉTAT COMMANDE</b></span>
              <nz-tag [nzColor]="etatColor(commande)">
                {{ etatCommande(commande) }}
              </nz-tag>
            </nz-list-item>
            <nz-list-item class="text-dark-green">
              <span nz-typography><b>DATE LIMITE</b>
              </span>
              <nz-tag [nzColor]="'red'">
                {{ commande.date_limite|date:"dd/MM/yyy" }}
              </nz-tag>

            </nz-list-item>
          </nz-list>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
        <div class="card card-body raduis-sm border">
          <nz-list>
            <nz-list-item class="text-dark-green">
              <span nz-typography><b>MONTANT</b></span>
              {{ total(commande)| currency: "FCFA":"symbol":"1.0":"fr" }}
            </nz-list-item>
            <nz-list-item class="text-dark-green">
              <span nz-typography><b>COMMISSION</b></span>
              {{ commande.commission| currency: "FCFA":"symbol":"1.0":"fr" }}
            </nz-list-item>
            <nz-list-item class="text-dark-green">
              <span nz-typography><b>TOTAL VERSEMENT</b></span>
              {{ commandeService.montantVerser(commande)| currency: "FCFA":"symbol":"1.0":"fr" }}
            </nz-list-item>
            <nz-list-item class="text-dark-green">
              <span nz-typography><b>MONTANT RESTANT</b></span>
              {{ commandeService.montantRestant(commande) | currency: "FCFA":"symbol":"1.0":"fr" }}
            </nz-list-item>
          </nz-list>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
        <h5 class="text-dark-green text-center text-uppercase">historique des versements</h5>
    <div class="row">
      <div class="col">
        <nz-table [nzScroll]="{ x: '100px' }" #versements [nzData]="commande.versements">
          <thead>
            <tr>
              <th class="bold text-dark-green">REFERENCE</th>
              <th class="bold text-dark-green">MEHODE</th>
              <th class="bold text-dark-green">MONTANT</th>
              <th class="bold text-dark-green">DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of versements.data">
              <td class="bold text-dark-green">{{ data.reference }}</td>
              <td class="bold text-dark-green">{{ data.via }}</td>
              <td class="bold text-dark-green">
                {{ data.montant| currency: "FCFA":"symbol":"1.0":"fr" }}
              </td>
              <td class="bold text-dark-green">
                {{ data.date_time | date: "dd/MM/yyyy" }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #elseTemplate>
  <div class="row">
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
    <div class="col">
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </div>
</ng-template>
