<nz-result [nzStatus]="type" [nzTitle]="text" [nzSubTitle]="s_t">
  <ng-template #s_t>
    <div *ngIf="url" class="text-center">
      <a class="url" href="{{ url }}">Continuer votre paiement en cliquant 👈</a>
    </div>
  </ng-template>

  <div nz-result-extra>
    <div *ngIf="load" class="text-center my-2">
      <i style="font-size: 30px" nz-icon nzType="loading" nzTheme="outline"></i>
    </div>
    <button nz-button *ngIf="!load" class="btn shadow-sm submit-btn align-items-center" (click)="close()">
      Fermer le message</button>
  </div>
</nz-result>
